# -----------------------------
# Enable rewrite engine
# -----------------------------
RewriteEngine On

# -----------------------------
# Forward Authorization header to PHP (JWT)
# -----------------------------
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

RewriteCond %{ENV:REDIRECT_HTTP_AUTHORIZATION} ^(.*)
RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

# -----------------------------
# CORS headers
# -----------------------------
<IfModule mod_headers.c>
    SetEnvIf Origin "https://cantineverte\.netlify\.app" AccessControlAllowOrigin=$0

    Header always set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
    Header always set Access-Control-Allow-Credentials true
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, PATCH, DELETE"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"

    # Test .htaccess
    Header set X-Test-Header "HelloFromHtaccess"
</IfModule>

# -----------------------------
# Front controller Symfony
# -----------------------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [QSA,L]
